In [1]:
import pandas as pd
import numpy as np

def ReLU(x):
    return np.maximum(0, x)

In [3]:
file1 = pd.read_csv('./submit/patchtst_submit_0824.csv').drop(['ID'],axis=1)
file2 = pd.read_csv('./submit/patchtst_submit_0827.csv').drop(['ID'],axis=1)
file3 = pd.read_csv('./submit/patchtst_submit_0828.csv').drop(['ID'],axis=1)

In [4]:
file1_R = ReLU(file1)
file2_R = ReLU(file2)
file3_R = ReLU(file3)

In [5]:
new_sub = round(0.4*file1_R + 0.3*file2_R + 0.3*file3_R)

In [6]:
new_sub

,2023-04-05,2023-04-06,2023-04-07,2023-04-08,2023-04-09,2023-04-10,2023-04-11,2023-04-12,2023-04-13,2023-04-14,...,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24,2023-04-25
0,1.0,2.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,4.0
1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,5.0,6.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0,...,8.0,8.0,8.0,9.0,9.0,9.0,9.0,10.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15885,2.0,13.0,15.0,25.0,24.0,18.0,16.0,21.0,28.0,29.0,...,34.0,31.0,27.0,24.0,30.0,42.0,36.0,36.0,30.0,28.0
15886,5.0,6.0,5.0,4.0,4.0,4.0,4.0,6.0,13.0,10.0,...,9.0,10.0,18.0,18.0,6.0,6.0,6.0,10.0,10.0,15.0
15887,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15888,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,...,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
15889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
submit = pd.read_csv('./dataset/sample_submission.csv')
submit.iloc[:,1:] = new_sub
submit.head()

/tmp/ipykernel_8641/1251990581.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  submit.iloc[:,1:] = new_sub

,ID,2023-04-05,2023-04-06,2023-04-07,2023-04-08,2023-04-09,2023-04-10,2023-04-11,2023-04-12,2023-04-13,...,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24,2023-04-25
0,0,1.0,2.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,4.0
1,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4.0,5.0,6.0,7.0,7.0,7.0,7.0,8.0,8.0,...,8.0,8.0,8.0,9.0,9.0,9.0,9.0,10.0,9.0,9.0

In [9]:
submit.tail()

,ID,2023-04-05,2023-04-06,2023-04-07,2023-04-08,2023-04-09,2023-04-10,2023-04-11,2023-04-12,2023-04-13,...,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24,2023-04-25
15885,15885,2.0,13.0,15.0,25.0,24.0,18.0,16.0,21.0,28.0,...,34.0,31.0,27.0,24.0,30.0,42.0,36.0,36.0,30.0,28.0
15886,15886,5.0,6.0,5.0,4.0,4.0,4.0,4.0,6.0,13.0,...,9.0,10.0,18.0,18.0,6.0,6.0,6.0,10.0,10.0,15.0
15887,15887,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15888,15888,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,...,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
15889,15889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
submit.to_csv('./submit/ensemble_submit_0828_patchtst.csv', index=False)